
html{
  background: black;
}


body{
  background-color: #232323;
  font-family:cursive;
  margin: 0;

}

.square{
  width : 30%;
  height : 30%;
  margin: 1.66%;
  padding-bottom: 30%;
  font-family: cursive;
}

.square{
  width : 25%;
  /* height : 25%; */
  margin: 1.66%;
  padding-bottom: 25%;
  background :pink;
  float: left;
  border-radius: 25px;
  transition: all 0.4s;
}
#container{
  max-width: 600px;
  margin : 20px auto;
  margin-left: 30%;
}
h1{
  background : #1e486c;
  margin: 0;
  color : white;
  text-align: center;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 20px 0;
  line-height: 1.1;
  transition: all 0.3s;

}

#colorDisplay{
  font-size: 60px;
}
#stripe{
  margin: 0;
  background: white;
  height: 30px;
  text-align: center;
  color: black;
}
.selected{
  background : #1e486c;
  color: white;
}
button{
  border: none;
  background: none;
  text-transform: uppercase;
  height: 100%;
  color: #1e486c;
  font-weight :700;
  letter-spacing: 1px;
  outline: none;
  font-size: inherit;
  transition: all 0.3s;
}
#messageDisplay{
  display: inline-block;
  width : 20%;
  color: #D50000;
  font-weight: 700;

}

button:hover{
  color: white;
  background: #1e486c;
}

.heart{
  margin: 4px 2px;
  font-size: 14px;
  color:red;
}

.insert{
  position: absolute;
  bottom: 0px;
  text-align: right;
  width: 100%;
  color:white;
  padding-bottom: 3px;
}
